body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

hr {
    border-top: 3px solid #bcbbbb;
}

.increase-margin {
    margin: 40px 20px 20px 10px;
}

.decrease-size {
    font-size: 20px;
}

.increase-text-size {
    font-weight: 500;
    margin-top: 10px;
}